*{
    margin: 0;
    padding: 0;
    background-color: rgb(168, 103, 243);
}
.box{
    background-color: aqua;
}
.box1{
    background-color: rgb(127, 127, 253);
    padding: 10px;
    border: 4px solid black;
    margin: 10px;
    border-radius: 10px;
}

.box2{
    background-color: rgb(226, 157, 125);
}